{% extends 'base.html' %}

{% block title %}Home - Track It{% endblock %}

{% block content %}
<nav class="navbar mt-3 navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Track It</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('homepage') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('my_bills') }}">My Bills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('expenses') }}">My Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('savings') }}">My Savings</a>
                </li>
            </ul>
            <a class="btn btn-outline-primary mb-3 mt-3" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead" data-aos="fade-down" data-aos-duration="1000">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center">
                    <h1 class="mb-5">Welcome to Track It!</h1>
                    <p class="lead mb-5">Take charge of your finances tday.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Card Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4" data-aos="fade-right" data-aos-duration="900">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Expenditure</h5>
                    <p class="card-text">Manage your expenses efficiently and track your spending habits.</p>
                    <img class="mb-2 rounded" src="{{ url_for('static', filename='images/expenditure.jpeg') }}" alt="Expenditure Image">
                    <a href="{{ url_for('expenses') }}" class="btn btn-primary">View Expenses</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Savings</h5>
                    <p class="card-text">Set your savings goals and watch your progress grow.</p>
                    <img class="w-100 mb-2 rounded" src="{{ url_for('static', filename='images/savings.jpeg') }}" alt="Savings Image">
                    <a href="{{ url_for('savings') }}" class="btn btn-primary">View Savings</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4" data-aos="fade-left" data-aos-duration="900">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">My Bills</h5>
                    <p class="card-text">Create and manage your bills in one place.</p>
                    <img class="w-100 mb-2 rounded" src="{{ url_for('static', filename='images/bills.jpeg') }}" alt="Bills Image">
                    <a href="{{ url_for('my_bills') }}" class="btn btn-primary">View Bills</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
